/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  background-color: #1c1c1c;
} */

.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 31, .9);
  height: 80px;
  color: white;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  padding: 0 20px;
  box-sizing: border-box;
  
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar .logo img {
  height: 30px;
  margin-right: 10px;
}

.left-section {
  margin-left: 100px;
  margin-right: 20px;
}

.middle-section {
  width: 660px;
}

.right-section {
  
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.search {
  margin-right: 10px;
}

.search input {
  width: 250px;
  height: 30px;
  padding-left: 15px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  background-color: #ffffff33;
}

.search:hover input {
  border: 3px solid #a500a5;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
}

.nav-links .dropdown {
  position: relative;
  display: inline-block;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(20, 20, 31, 0.868);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.nav-links .dropdown-content a {
  color: white;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.nav-links .dropdown-content a:hover {
  background: linear-gradient(43deg, #c850c0 30%, #ca25bf 46%, #a90b7c 90%);
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
  width: 100%;
}

.dropdown-content {
  margin-top: 5px;
}

.connect-wallet {
  font-weight: bold;
  background: linear-gradient(43deg, #c850c0 30%, #ca25bf 46%, #a90b7c 90%);
  padding: 10px 20px;
  border-radius: 45px;
  height: 8px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 15px;
  text-align: center;
}

.connect-wallet:hover {
  color: whitesmoke;
  box-shadow: 0 0 10px #c850c0;
  transition: 1s;
}

.dropline {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 13px;
}

.dropline::after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  bottom: -3px;
  width: 60%;
  height: 2px;
  background-color: #d63384;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 1s ease;
}

/* On hover, reveal the underline */
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Mobile responsive styles */
.menu-toggle {
  display: none;
}
.wallet{
  display: none;
}
/* Hide the navigation links on small screens and show the menu button */
@media (max-width: 426px) {
  .navbar {
      flex-direction: column;
      padding: 0 10px;
      height: 100px;
      width: 426px;
      position: relative;
      margin-bottom: -20px;
      
  }
  .search input {
      display: none;
  }

  .nav-links {
      display: none; /* Hide nav links initially */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px; /* Below the navbar */
      left: 0;
      background-color: rgba(20, 20, 31, .9);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
      display: flex; /* Show nav links when active */
  }

  .nav-links .dropdown-content {
      position: static;
      box-shadow: none;
  }

  .nav-links .dropdown-content a {
      margin-top: 0;
      padding: 10px;
  }

  .connect-wallet {
    display: none;
  }


  .menu-toggle {
    display: flex; /* Show the menu button on mobile */
    flex-direction: column;
    height: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    
  }
  .wallet{
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 30px;
      padding-top: 0px;
      padding-bottom: 30px;
      padding-right: 10px;
      margin-left: -20px;
    
      
  }
  .left-section{
      width: 20%;
      
      margin-right: 320px;
  }
  
  .right-section{
      width: 20%;
      margin-top: -40px;
      padding-left: 50px;
      
      
  }
  .logo{
      margin-right: 50px;
      
  }
  .navbar .logo img {
    height: 30px;
    margin-top: 30px;
    align-items: flex-start;
   
  }
  
  .navbar{
    display:flex;
    align-items: end;
    margin-top: 0px;
  }
  .dropdown{
      margin-top: 20px;
      
  }
  .dropline{
      margin-left: 0px;
      padding-right: 350px;
  }
  
 
}